<script>
	import SVCalendar from '$lib/components/SVCalendar.svelte';
</script>

<h1>Welcome to SvelteKit</h1>
<p>Visit <a href="https://kit.svelte.dev">kit.svelte.dev</a> to read the documentation</p>

<SVCalendar
	mode="range"
	availableYears={[2023, 2020]}
	on:startDate={(event) => console.log('startDate', event.detail)}
	on:endDate={(event) => console.log('endDate', event.detail)}
/>
