<script lang="ts">
	type Direction = 'left' | 'right';
	export let dir: Direction = 'left';
	export let onClick: () => void = null;
</script>

<i class={dir} on:click={onClick} {...$$restProps} />

<style>
	i {
		display: inline-block;
		width: 8px;
		height: 8px;
		border-style: solid;
		border-color: #161616;
		border-width: 0;
		border-bottom-width: 1px;
		border-right-width: 1px;
		transform-origin: center center;
	}
	i.right {
		transform: translateX(-6px) rotate(-45deg);
	}
	i.left {
		transform: translateX(6px) rotate(135deg);
	}
</style>
