<script lang="ts">
	import { createEventDispatcher } from 'svelte';

	import Arrow from './Arrow.svelte';
	import { format, isBefore, isAfter, isEqual, addMonths, subMonths } from 'date-fns';
	import { months, weekDays, getMonthIndex, getDateRows } from './date-utils';

	type Modes = 'single' | 'range';

	export let mode: Modes = 'single';
	export let minDate: Date = null;
	export let maxDate: Date = null;
	export let startDate: Date = new Date(new Date().setHours(0, 0, 0, 0));
	export let availableYears: [number, number] = [
		new Date().getFullYear() - 5,
		new Date().getFullYear() + 5
	];

	const dispatch = createEventDispatcher();
	let selectedDates: { startDate: Date; endDate: Date } = { startDate: startDate, endDate: null };
	let date: Date = startDate;
	let selectedMonth: string = months[date.getMonth()];
	let selectedYear: number = date.getFullYear();
	let tempDate: Date;

	$: selectedMonthIndex = getMonthIndex(selectedMonth);

	$: isHighlighted = (day: Date): string => {
		if (mode === 'single' || !tempDate) return;
		let startDate = selectedDates.startDate;

		// scrolling left - a number less than the selected start date
		// if (tempDate >= startDate && day <= tempDate && day > startDate) return 'day--highlight';
		if (
			(isEqual(tempDate, startDate) || isAfter(tempDate, startDate)) &&
			(isEqual(tempDate, day) || isBefore(day, tempDate)) &&
			isAfter(day, startDate)
		)
			return 'day--highlight';

		//scrolling right - a number greater than the selected start date
		// if (tempDate <= startDate && day >= tempDate && day < startDate) return 'day--highlight';
		if (
			(isEqual(tempDate, startDate) || isBefore(tempDate, startDate)) &&
			(isAfter(day, tempDate) || isEqual(day, tempDate)) &&
			isBefore(day, startDate)
		) {
			return 'day--highlight';
		}
		return '';
	};

	$: isEqualGreaterThanMaxDate = (date: Date): boolean => {
		if (!maxDate) return;
		return isEqual(date, maxDate) || isAfter(date, maxDate);
	};

	$: isEqualGreaterThanMin = (date: Date): boolean => {
		if (!minDate) return;
		return isEqual(date, minDate) || isBefore(date, minDate);
	};

	$: monthCells = getDateRows(selectedMonthIndex, selectedYear);

	function generateCalenderYears() {
		let startYear = availableYears[0];
		let endYear = availableYears[1];
		if (availableYears[0] > availableYears[1]) {
			startYear = availableYears[1];
			endYear = availableYears[0];
		}

		const years = [];
		for (let index = startYear; index <= endYear; index++) {
			years.push(index);
		}

		return years;
	}

	function previousMonth(): void {
		date = subMonths(date, 1);
		selectedMonth = months[date.getMonth()];
		selectedYear = date.getFullYear();
	}
	function nextMonth(): void {
		date = addMonths(date, 1);
		selectedMonth = months[date.getMonth()];
		selectedYear = date.getFullYear();
	}

	function highLightHandler(day: Date) {
		if (!selectedDates.startDate) return;
		if (selectedDates.startDate && selectedDates.endDate) return;
		tempDate = day;
	}

	function setSelectedDate(node: Event, day: Date) {
		if (selectedDates.startDate && selectedDates.endDate && mode === 'range') {
			const nodesHighlighted = document.querySelectorAll('.day--highlight');
			[...(nodesHighlighted as unknown as Element[])].map((node) =>
				node.classList.remove('day--highlight')
			);

			selectedDates = { startDate: null, endDate: null };
		}

		if (selectedDates.startDate && mode === 'range') {
			selectedDates.endDate = day;
			dispatch('endDate', selectedDates.endDate);
		} else {
			selectedDates.startDate = day;
			dispatch('startDate', selectedDates.startDate);
		}
	}
</script>

<div class="sv-calendar">
	<div class="header">
		<Arrow onClick={previousMonth} aria-label="previous-month" />

		<div>
			<select
				data-testid="select-month"
				name="months"
				id="month"
				class="select"
				bind:value={selectedMonth}
			>
				{#each months as month}
					<option data-testid="select-option" value={month} selected={selectedMonth === month}
						>{month}</option
					>
				{/each}
			</select>
			<select
				data-testid="select-year"
				name="years"
				id="year"
				class="select"
				bind:value={selectedYear}
			>
				{#each generateCalenderYears() as year}
					<option value={year}>{year}</option>
				{/each}
			</select>
		</div>

		<Arrow dir="right" onClick={nextMonth} aria-label="next-month" />
	</div>
	<div class="body">
		<div class="weeks">
			{#each weekDays as weekday}
				<div class="weekdays">
					{weekday}
				</div>
			{/each}
		</div>
		<div class="days">
			{#each monthCells as day, index}
				<div
					data-date={day}
					aria-label={format(day, 'EEEE,MMMM,do,yyyy')}
					aria-disabled={isEqualGreaterThanMaxDate(day) || isEqualGreaterThanMin(day)}
					on:click={(el) => setSelectedDate(el, day)}
					on:mouseover={() => highLightHandler(day)}
					on:focus={() => console.log('focus', day)}
					class="day {isHighlighted(day)}"
					class:isDisabled={isEqualGreaterThanMaxDate(day) || isEqualGreaterThanMin(day)}
					class:startDate={isEqual(day, selectedDates.startDate)}
					class:endDate={isEqual(day, selectedDates.endDate)}
				>
					{day.getDate()}
				</div>
			{/each}
		</div>
	</div>
</div>

<style lang="scss">
	@import 'src/public/scss';
	.sv-calendar {
		--white: #ffffff;
		--black: #000000;
		--highlighted: #f7f7f7;
		--grey-400: #c4c4c9;
	}
	.sv-calendar {
		display: flex;
		flex-direction: column;
		padding: pxtoRem(16px 10px 16px);
		width: pxtoRem(362px);
		box-shadow: 0 16px 28px -1px rgba(0, 0, 0, 0.18);
		color: var(--black);
		.header {
			display: flex;
			justify-content: space-around;
			align-items: center;
			margin-bottom: pxtoRem(18px);
		}

		.select {
			background-color: transparent;
			border: none;
		}

		.weeks,
		.days {
			display: grid;
			grid-template-columns: repeat(7, 1fr);
		}

		.weekdays {
			font-size: pxtoRem(14px);
			font-weight: bold;
		}

		.weekdays,
		.day {
			display: flex;
			justify-content: center;
			align-items: center;
		}

		.day {
			cursor: pointer;
			color: #252525;
			font-size: pxtoRem(14px);
			letter-spacing: 0.16px;
			height: pxtoRem(47px);
			border: 1.5px solid transparent;
			outline: none;

			&:not(.startDate, .endDate):hover {
				color: rgb(34, 34, 34);
				border: 1.5px solid rgb(34, 34, 34);
				border-radius: 50%;
			}

			&.isDisabled {
				pointer-events: none;
				color: var(--grey-400);
			}
		}

		:global(.day--highlight) {
			background-color: var(--highlighted);
			border-radius: revert;
		}

		.startDate,
		.endDate {
			background: rgb(34, 34, 34) none repeat scroll 0% 0%;
			color: rgb(255, 255, 255);
			border: 1.5px solid rgb(34, 34, 34);
			border-radius: 50%;
		}
	}
</style>
